@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&family=Gothic+A1:wght@300;500;600;700&display=swap');

:root {
    /*  color variables  */
    --colour1: #FFE81F;
    --colour2: #CA4E0B;
    --bodyfont1: 'Gothic+A1', sans-serif;
    --bodyfont2: 'Lato', sans-serif: 
}

body {
    margin: 0;
    font-family: var(--bodyfont1);
    color: var(--colour1);
    background: url(../images/Death-Star.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    width: 100%;
    overflow-y: scroll;
}

/* Webiste's Logo And Title */

.logo-bar,img {
    border-radius: 25%;
    height: 150px;
    width: 400px;
    object-fit: fill;
}

/* Modal */

.modal-title {
    font-family: var(--bodyfont1);
    text-transform: capitalize;
}

.center { /* Thanks to W3Schools (https://www.w3schools.com/howto/howto_css_center_button.asp */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

.modal-buttons {
    text-align: center;
}

.modal-content {
    background-color: rgba(0, 0, 0, 1);
    font-family: var(--bodyfont1);
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.game-content {
    display: none;
    text-align: center;
    font-family: var(--bodyfont1);
    font-weight: 300;
    background-color: rgba(0, 0, 0, .9);
    margin-bottom: 20px;
}

.modal-header {
    text-align: center;
    text-transform: capitalize;
    font-family: var(--bodyfont1);
    font-weight: 800;
    width: 100%;
    display: block;
}

/* Inside Hompage Modal */

.modal-buttons {
    line-height: 50px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    background-color: var(--colour1);
    font-family: var(--bodyfont1);
    font-weight: 600;
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 268px;
    cursor: pointer;
    border-radius: 20px; 
    margin-bottom: 15px; 
}

.modal-buttons:hover {
    background-color: var(--colour2);
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

.game-levels {
    list-style-type: none;
    font-family: var(--bodyfont1);
}

/* Game Cards / Game Page */

#game-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: var(--colour1);
    font-family: var(--bodyfont2);
    font-size: 9rem;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .9);
}

.game-text-sml {
    font-size: .2em;
    text-transform: capitalize;
}

#game-text.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}



.game-data-div {
    max-width: 850px;
}

.game-data {
    background-color: rgba(0, 0, 0, .9);
    color: var(--colour1);
    border: var(--colour2) solid 3px;
    margin: 10px;
    padding-top: 5px;
    border-radius: 10px;
    max-width: 170px;
}

.game-container {
    width: 100%;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.game-cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.game-cards:active {
    transform-style: scale(.97);
    transition: transform .5s;
}

.game-cards.flip {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: var(--colour2);
    backface-visibility: hidden;
}
 
.front-card {
    transform: rotateY(180deg);
}

/* Footer/Social Links & Icons */ 

#footer {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 10px;
    margin: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.socials {
    text-align: center;
    min-height: 75%;
    min-width: 100%;
    padding: 6px;
    margin-right: 20px;
}

.socials i {
    color: var(--colour1);
    text-align: center;
    font-size: 250%;
}

.socials i:hover {
    color: var(--colour2);
}


 
.list-inline-item {
    font-size: larger;
    margin-left: 15px;
    text-align: center;
}