@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&family=Gothic+A1:wght@300;500;600;700&display=swap');

body {
    background-color: black;
    background-image: url("../images/Death-Star.jpg");
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    color: yellow;
    text-align: center;
    height: 100%;
}

/* Heading */
#logo-bar, img {
    border-radius: 52%;
    width: 33%;
}

/* Hero Image */

.hero-image {
    height: 50%;
    background: center no-repeat cover;
    position: relative;
}

.container-fluid {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

.warning {
    background-color: #ff9822;
}